<!-- <input NumbersOnly
[allowDecimals]="true"
[allowSign]="false"
[maxAllowedValue]="9999"
[formControl]="control"
type="text"

> -->
<button (click)="openPastJobsModal()">Past jobs</button>
<input type="file" class="file-upload" (change)="onFileSelected($event)"  accept=".json">
<input (paste)="onPaste($event)" (keypress)="onChange($event)">
<div class="json-viewer">
<ngx-json-viewer [json]="data" [parentNode]="true"></ngx-json-viewer>
</div>
<form *ngIf= "showForm" [formGroup]="dynamicFormGroup"  class="d-flex gap-3 flex-column mt-3">
  <div class="d-flex gap-3 flex-column">
    <ng-container *ngFor="let field of selectedFieldProps; let i = index">
      <div class="d-flex flex-column form-field align-center gap-3">
        <label for="">{{labelsMap[field]}}</label>
        <ng-container *ngIf="field === 'valueType'">
          <select [formControlName]="field">
            <option *ngFor="let option of typeOptions" [value]="option">{{ option }}</option>
          </select>
          
        </ng-container>
        <ng-container *ngIf="field === 'generationType'">
          <select [formControlName]="field">
            <option *ngFor="let option of genrationTypeOptions" [value]="option">{{ option }}</option>
          </select>
        </ng-container>

        <ng-container *ngIf="(field === 'startDateRange') || (field === 'endDateRange')">
          <input type="text"
           placeholder="field"
           class="form-control"
           [formControlName]="field"
           bsDatepicker>
           <span class="text-danger" *ngIf="field === 'endDateRange' && dynamicFormGroup.get('endDateRange')?.invalid">Invalid date</span>
        </ng-container>

        <ng-container *ngIf="(field !== 'generationType') && (field !== 'valueType') && (field !== 'startDateRange') && (field !== 'endDateRange')  ">
          <!-- <input [formControlName]="field" [placeholder]="field" type="text"> -->
          <input [formControlName]="field"
            [placeholder]="field"
            [typeahead]="[]"
            class="form-control">
        </ng-container>
      </div>
    </ng-container>
    <button mat-button color="primary" [disabled]="dynamicFormGroup.invalid" (click)="onSubmit()">Submit</button>
</div>
</form>

<!-- <div class="upi d-flex flex-column">
  <div class="upi-header d-flex">
    <div class="actions d-flex">
      <button (click)="opneMsgDialog(msgDialogTemplate)" [ngClass]="{'active': selectedAction === 'realtime'}" type="button" class="btn btn-secondary">Realtime</button>
      <button (click)="getUpiData('reconcillation')" [ngClass]="{'active': selectedAction === 'reconcillation'}" type="button" class="btn btn-secondary">Reconcillation</button>
      <select>
        <option value="efd">EFD</option>
      </select>
    </div>
    <div *ngIf="selectedAction === 'realtime'" class="stats">
      <div class="stats-box active">
        <div class="stat-count">49</div>
        <div class="stat-label">Total</div>
      </div>
      <div class="stats-box">
        <div class="stat-count">40</div>
        <div class="stat-label">Success</div>
      </div>
      <div class="stats-box">
        <div class="stat-count">2</div>
        <div class="stat-label">Pending</div>
      </div>
      <div class="stats-box">
        <div class="stat-count">7</div>
        <div class="stat-label">Delayed</div>
      </div>
      
    </div>

    <div *ngIf="selectedAction === 'reconcillation'" class="stats stats-reconcillation">
      <div class="stats-box active">
        <div class="stat-count">
          <span><b>78</b>Total</span> <span> <b>19</b>Failed </span> 
        </div>
        <div class="stat-label">Last 60 Minutes</div>
      </div>
      <div class="stats-box">
        <div class="stat-count">
          <span><b>78</b>Total</span> <span> <b>19</b>Failed </span> 
        </div>
        <div class="stat-label">Last 24 Hours</div>
      </div>
      <div class="stats-box">
        <div class="stat-count">
          <span><b>78</b>Total</span> <span> <b>19</b>Failed </span> 
        </div>
        <div class="stat-label">Last 7 Days</div>
      </div>
      
    </div>
  </div>
  <div class="upi-content">
      <app-upi-realtime *ngIf="selectedAction === 'realtime'"></app-upi-realtime>
      <app-upi-reconciliation *ngIf="selectedAction === 'reconcillation'"></app-upi-reconciliation>
  </div>
</div>

<ng-template #msgDialogTemplate>
  <div class="message-dialog-container d-flex flex-column">
    <div class="message-dialog-header d-flex">
      <h4 class="">Send Email</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="message-dialog-body d-flex flex-column">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input [formControl]="emailControl" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    </div>
    <div class="message-dialog-footer d-flex">
      <button>Cancel</button>
      <button [disabled]="emailControl.invalid">Send</button>
    </div>
  </div>
</ng-template>

<div class="box-container d-flex">
  <div class="w-22 d-flex gap-2">
    <div class="circle-container d-flex flex-column">
      <div class="upper-label">EFD</div>
      <div class="circle">31</div>
      <div class="lower-label">Total Alerts</div>
    </div>
    <div class="arrow-container">
      <div class="dot"></div>
      <div class="arrow">
      </div>
    </div>
  </div>
  <div class="w-22 d-flex gap-2">
    <div class="circle-container d-flex flex-column">
      <div class="upper-label">EFD</div>
      <div class="circle">31</div>
      <div class="lower-label">&nbsp;</div>
    </div>
    <div class="arrow-container">
      <div class="dot"></div>
      <div class="arrow">
      </div>
    </div>
  </div>
  <div class="w-22 d-flex gap-2">
    <div class="circle-container d-flex flex-column">
      <div class="upper-label">EFD</div>
      <div class="circle">31</div>
      <div class="lower-label">&nbsp;</div>
    </div>
    <div class="arrow-container">
      <div class="dot"></div>
      <div class="arrow">
      </div>
    </div>
  </div>
  <div class="w-22 d-flex gap-2">
    <div class="circle-container d-flex flex-column">
      <div class="upper-label">EFD</div>
      <div class="circle">31</div>
      <div class="lower-label">&nbsp;</div>
    </div>
    <div class="arrow-container">
      <div class="dot"></div>
      <div class="arrow">
      </div>
    </div>
  </div>
  <div class="w-12 d-flex gap-2">
    <div class="circle-container d-flex flex-column last-circle">
      <div class="upper-label">EFD</div>
      <div class="circle">31</div>
      <div class="lower-label">Total Alerts</div>
    </div>
  </div>
</div> -->