
.upi-header {
  justify-content: space-between;
  align-items: flex-end;

  .actions {
    button {
      margin-right: 20px;
      &.active {
        background-color: black;
      }
    }
  }

  .stats {
    background-color: #dfe3ec;
    display: flex;
    padding: 10px 20px;
    height: 100px;

    .stats-box {
      background: #fff;
      margin-right: 20px;
      border-radius: 4px;
      padding: 5px 0;
      width: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &.active {
        background: #d7ecff;
      }

      &:last-child {
        margin-right: 0;
      }

      .stat-count {
        font-size: 16px;
        font-weight: bold;
    }
  }
  }

  .stats-reconcillation {
    flex: 1;
    justify-content: center;
    margin-left: 20px;
    .stats-box {
      width: auto;
      padding: 0 10px;

      .stat-count {
        font-weight: normal;
        span {
          b{
            margin-right: 10px;
            font-size: 20px;
          }
          &:first-child {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.upi-content {
  margin-top: 20px
}