<div class="flex-column ttd-content d-flex">
  <div class="info">
    <span class="text-bold">TTD </span><span>(Time to Decision): This is defined</span>
  </div>

  <div class="info">
    <span class="text-bold">Average TTD fo 30 Days: </span><span>This value is calculated for</span>
  </div>

  <div class="info d-flex formula align-items-center">
    <span class="text-bold">Formula:</span>
    <div class="flex-column align-items-center d-flex">
      <span>Sum of TTD</span>
      <span class="applications">Number of Applications</span>
    </div>
    <span>=</span>
    <span>Number of Hours</span>
  </div>

  <div class="info">
    <span class="text-bold">How is percentage calculated: </span><span>This value is calculated for</span>
  </div>

  <div class="info d-flex flex-column">
    <span class="text-bold">For Example: </span>
    <span>Over the past</span>
    <span>of the 100 applications</span>
  </div>

  <div class="info">
    <span>Then the % for the</span>
  </div>
</div>
