<section class="ngx-json-viewer">
  <section
    *ngFor="let segment of segments"
    [ngClass]="['segment', 'segment-type-' + segment.type]">
    <section
      *ngIf="segment.key !== 'parentPath'"
      (click)="toggle(segment)"
      [ngClass]="{
        'segment-main': true,
        'expandable': isExpandable(segment),
        'expanded': segment.expanded
      }">
      <div *ngIf="isExpandable(segment)" class="toggler"></div>
      <div (click)="onKeyValuePairClick(segment)" [ngClass]="{'editable': !isExpandable(segment), 'node-updated': isNodeUpdated(segment)}" >
        <span class="segment-key">{{ segment.key }}</span>
        <span class="segment-separator">: </span>
        <span *ngIf="!segment.expanded || !isExpandable(segment)" class="segment-value">{{ segment.description }}</span>
        <span *ngIf="isExpandable(segment)" (click)="addNewNode(segment, $event)" class="plus-icon">+</span>
      </div>
    </section>
    <section *ngIf="segment.expanded && isExpandable(segment)" class="children">
      <ngx-json-viewer [parent]="parent+'/'+segment.key" [json]="segment.value" [expanded]="expanded" [depth]="depth" [_currentDepth]="_currentDepth+1"></ngx-json-viewer>
    </section>
  </section>
</section>
