<div>
  <div style="float:left;width:75%">
    <ngx-datatable
      style="width: 90%"
      class="material"
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="5"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      (select)="onSelect($event)"
    >
      <ngx-datatable-column
        [width]="100"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
      >
        <ng-template
          ngx-datatable-header-template
          let-value="value"
          let-allRowsSelected="allRowsSelected"
          let-selectFn="selectFn"
        >
          <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
        </ng-template>
        <ng-template
          ngx-datatable-cell-template
          let-value="value"
          let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn"
          let-row="row"
        >
          <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
          <button (click)="onEdit(row)">Edit</button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name"></ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="Company"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>