<div class="title">Application Widget settings</div>
<div class="d-flex flex-column settings-container">
  <div class="d-flex flex-column">
    <div class="sub-title">Application Widget settings</div>
    <div class="min-title">Enable or disab</div>
  </div>
  <div class="d-flex flex-column">
    <div class="item-title">
      OMM Widgets
    </div>

    <div class="input-row" *ngFor="let item of ommWidgetsArray.controls; index as idx; last as isLast">
          <input  [formControl]="item">
          <label for="">{{ommWidgetsList[idx].label}}</label>
  
  </div>
    <!-- <div class="items">
      <div class="item d-flex flex-column">
        <label for="">Incoming Events</label>
      </div>
      <div class="item d-flex flex-column">
        <label for="">Incoming Events</label>
      </div>
      <div class="item d-flex flex-column">
        <label for="">Incoming Events</label>
      </div>
    </div> -->
  </div>
</div>
